################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/Properties/AssemblyInfo.cs
/.vs/06-ByteBank/v15/Server/sqlite3
/bin/Debug
